{% compress js %}
<!-- <script type="text/javascript" src="{% static 'javascripts/movie_db.config.js' %}"></script> -->
<script type="text/javascript" src="{% static 'javascripts/movie_db.routes.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/register.controller.js' %}"></script>

{% endcompress %} 